extends layout

block content
  h1= title
  p 
    | Use this web site to find user group meeting in the Jacksonville, Fl. 
    | This site was built by the 
    a(href='http://www.jaxnode.com') Jax Node.js User Group
    .