extends layout

block content
  mixin link(href, name)
    a(href=href)= name
  
  h1 Jax Upcoming Tech Events
  table
    -for(var x = 0; x < eventArray.length; x++) 
      tr
      td 
        +link(eventArray[x].event_url, eventArray[x].group.name) 
        = ' ' + new Date(eventArray[x].time).toString()