extends layout

block content
  mixin link(href, name)
    a(href=href)= name

  h1 Jax Tech Meetup Groups
  table
    -each group in groupArray
      tr
      td 
        +link(group.link, group.name)